In [1]:
import pandas as pd
import numpy as np

In [2]:
tr=pd.read_csv('yahoo music/train.txt',sep='\t',header=None,names=['userId','itemId','rating'])

In [3]:
tr.head()

   userId  itemId  rating
0       1      14       5
1       1      35       1
2       1      46       1
3       1      83       1
4       1      93       1

In [4]:
te_temp=pd.read_csv('yahoo music/test.txt',sep='\t',header=None,names=['userId','itemId','rating'])

In [5]:
tr.describe()

              userId         itemId         rating
count  311704.000000  311704.000000  311704.000000
mean     7212.089280     491.982981       2.891994
std      4514.676692     302.378139       1.584182
min         1.000000       1.000000       1.000000
25%      3248.000000     219.000000       1.000000
50%      6923.000000     492.000000       3.000000
75%     11132.000000     767.000000       4.000000
max     15400.000000    1000.000000       5.000000

In [6]:
user_total=np.zeros(15401)
cnt=np.zeros(15401,dtype='int64')

In [7]:
rating=tr

In [8]:
for i,j in rating.iterrows():
    k=int(j[0])
    cnt[k]+=1

In [9]:
import math
holdout=[math.floor(0.1*i) for i in cnt]

In [10]:

n_holdout=np.array(holdout,dtype='int64')
abcd=holdout
n_train=[j-i for i,j in zip(abcd,cnt)]

In [11]:
hold_temp=pd.DataFrame()
tr_temp=pd.DataFrame()

In [12]:
max(cnt)

648

In [13]:
inc_hold=np.zeros(15401,dtype='int64')

In [48]:
for i,j in rating.iterrows():
    user=int(j[0])
    if inc_hold[user] < n_holdout[user]:
       
        hold_temp=hold_temp.append(j)
        inc_hold[user]+=1
    else:
        tr_temp=tr_temp.append(j)

In [49]:
tr_temp=tr_temp.sample(frac=1).reset_index(drop=True)
hold_temp=hold_temp.sample(frac=1).reset_index(drop=True)

In [50]:
tr_temp.to_csv('C:/Users/ADMIN/Downloads/ytrain.csv', sep=',')
te_temp.to_csv('C:/Users/ADMIN/Downloads/ytest.csv',sep=',')
hold_temp.to_csv('C:/Users/ADMIN/Downloads/yholdout.csv',sep=',')